<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>scpros</title>
  <script src="server/public/vendors/angular.js"></script>
  <link href="server//public/vendors/css/bootstrap.css" rel="stylesheet">
  <link href="server/public/styles/styles.css" rel="stylesheet">
  <script src="server/public/scripts/client.js"></script>

</head>

<body>

  <body ng-app="myApp" ng-controller="myController as vm">
    <h1 class="titleTop">Top 6 Earners in StarCraft II History!</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img ng-src="/Users/arickschaibly/prime/Tier2/week-4/weekend-challenge-4/server/public/images/why.jpg" style="width:200px;height:200px;">
          <div class="playerName">MC</div>
          <button type="button" class="btn btn-info ">Info</button>
          <button ng-click="FavMC = FavMC + 1" ng-init="FavMC=0" type="button" class="btn btn-success MC">Favorite</button>
          <span class="fav">
              Fav'd: {{FavMC}}
            </span>
        </div>
        <div class="col-md-4">
          <img ng-src="/Users/arickschaibly/prime/Tier2/week-4/weekend-challenge-4/server/public/images/why.jpg" style="width:200px;height:200px;">
          <div class="playerName">sOs</div>
          <button type="button" class="btn btn-info sOs">Info</button>
          <button ng-click="favsE = favsE + 1" ng-init="favsE=0" type="button" class="btn btn-success sOs">Favorite</button>
          <span class="fav">
              Fav'd: {{favsE}}
            </span>
        </div>
        <div class="col-md-4">
          <img ng-src="/Users/arickschaibly/prime/Tier2/week-4/weekend-challenge-4/server/public/images/why.jpg" style="width:200px;height:200px;">
          <div class="playerName">TY</div>
          <button type="button" class="btn btn-info TY">Info</button>
          <button ng-click="favsD = favsD + 1" ng-init="favsD=0" type="button" class="btn btn-success TY">Favorite</button>
          <span class="fav">
              Fav'd: {{favsD}}
            </span>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img ng-src="/Users/arickschaibly/prime/Tier2/week-4/weekend-challenge-4/server/public/images/why.jpg" style="width:200px;height:200px;">
            <div class="playerName">Life</div>
            <button type="button" class="btn btn-info Life">Info</button>
            <button ng-click="favsC = favsC + 1" ng-init="favsC=0" type="button" class="btn btn-success Life">Favorite</button>
            <span class="fav">
                Fav'd: {{favsC}}
              </span>
          </div>
          <div class="col-md-4">
            <img ng-src="/Users/arickschaibly/prime/Tier2/week-4/weekend-challenge-4/server/public/images/why.jpg" style="width:200px;height:200px;">
            <div class="playerName">INnoVation</div>
            <button type="button" class="btn btn-info INnoVation">Info</button>
            <button ng-click="favsB = favsB + 1" ng-init="favsB=0" type="button" class="btn btn-success INnoVation">Favorite</button>
            <span class="fav">
                Fav'd: {{favsB}}
              </span>
          </div>
          <div class="col-md-4">
            <img ng-src="/Users/arickschaibly/prime/Tier2/week-4/weekend-challenge-4/server/public/images/why.jpg" style="width:200px;height:200px;">
            <div class="playerName">Polt</div>
            <button type="button" class="btn btn-info Polt">Info</button>
            <button ng-click="favsA = favsA + 1" ng-init="favsA=0" type="button" class="btn btn-success Polt">Favorite</button>
            <span class="fav">
                Fav'd: {{favsA}}
              </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
              <div class="col-md-8">.col-md-8</div>
              <div class="col-md-4">.col-md-4</div>
            </div>
            <div class="row">
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
            </div>
            <div class="row">
              <div class="col-md-6">.col-md-6</div>
              <div class="col-md-6">.col-md-6</div>
            </div>
          </div> -->


  </body>

</html>